*{box-sizing: border-box;}
table{

    border: 2px solid black;
    margin: auto;
    margin-top: 250px;

}
.nameColumn th{

    background-color: #005dff;
}
table tr:nth-child(even){

    background-color: #478aff;
}
table tr:nth-child(odd){

    background-color: #5cff47;
}